.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  }

p {
  font-family: 'Cabin', sans-serif;
}

.riverIcon {
  width: 100px;
  height: 100px;
}