
/* .jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  margin: 50px;
} */

/* .map {
  padding-top: 10px;
  border-block-end-color: #2D656C;
} */

/* .caps {
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
} */

/* h3 {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
} */

body {
  /* font-family: 'Roboto', sans-serif; */
  height: 100%;  
  padding-top: 60px;
  background-image: url('./img/56303-nature_1920x1080.jpeg');
  background-repeat: no-repeat;
  background-color: #000000;
  background-attachment: fixed;
}
