html {
  background: url('./img/56303-nature_1920x1080.jpeg') no-repeat center center fixed;
  background-size: cover;
}
.bgimage > .container-fluid {
  padding-top: 60px;
}

body {
  background-color: initial;
}
