

body {
  height: 100%;  
  padding-top: 60px;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.selection-options {
  background: whitesmoke;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.jumbotron .welcome {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
}

.feature-divider {
  margin-top: 5rem;
  margin-right: 0px;
  margin-bottom: 5rem;
  margin-left: 0px;
}

hr {
  border: 0;
  border-top: 5px solid black;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  display: block;
}

.row .feature-divider {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

.map {
  padding-top: 10px;
  border-block-end-color: #2D656C;
}

.rounded-cirle {
  height: 60px;
  width: 60px;
  align-items: center;
  text-align: center;
}

 /* .bgimage {

  background-image: url('../../img/56303-nature_1920x1080.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
  background-position: center center;
	position: relative;
} */
