.map-view {
  height: 400px;
}

.esri-popup {
  display: none;
}

.esri-view-height-less-than-medium .esri-popup__main-container {
  max-width: 275px;
}

.esri-popup__header {
  text-align: left;
}

p.esri-widget button, .esri-widget [role="button"]{
  font-size: 6px;
  line-height: 5px;
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
  color: #2D656C;
  padding-top: 12px;
  padding-bottom: 0px;
}

.esri-popup__content p {
  font-size: 15px;
  text-align: left;
  line-height: 5px;
  margin-left: 25px;
  padding-top: 12px;
  padding-bottom: 0px;
}
