.map-view {
  height: 400px;
}

.map {
  padding-top: 0px;
  border-block-end-color: #2D656C;
}

.jumbotron {
  margin: 60px;
}

.esri-popup {
  display: none;
}

.esri-popup__header-title {
  color: #2D656C;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

p.esri-widget button, .esri-widget [role="button"]{
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
  color: #2D656C;
}

.esri-popup__content p {
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  margin-left: 45px;
}
