p.dayOfWeek {
  text-transform: uppercase;
  font-weight: bold;
}
h2.caps {
  text-transform: uppercase;
}
p.small {
  font-variant: small-caps;
}

p.todaysTemp {
  font-size: xx-large;
}

p.futureTemp {
  font-size: x-large;
}

span.small {
  font-variant: small-caps;
}

.col-md-3 {
  text-align: center;
  padding-top: 35px;
}