p.dayOfWeek {
  text-transform: uppercase;
  font-weight: bold;
}
p.caps {
  text-transform: uppercase;
  font-size: x-small;
}
p.small {
  font-variant: small-caps;
}

p.todaysTemp {
  font-size: xx-large;
}

p.futureTemp {
  font-size: x-large;
}

span.small {
  font-variant: small-caps;
}

.col-md-3 {
  text-align: center;
  padding-top: 35px;
}

.now {
  text-align: center;
  float: left;
  width: 250px;
  width: 3250;
border: 1px ridge #2b3e50;  
  padding: 25px;
  margin: 15px;
}